# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/PythonAndMySQL.iml
.idea/codeStyles/
.idea/dataSources.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/sqldialects.xml
venv/
